.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  border:solid #1e5abc 2px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 3rem;
}

.content {
  padding: 1rem 2rem 1rem 2rem;
}

.plane {
  padding-left: 3px;
  padding-right: 3px;
}

.ui.menu {
  background-color: #1e5abc;
  border: none;
  border-radius: 3px 3px 0px 0px;
  margin: 0;
  min-height: 3em;
}

.ui.menu .item {
  color: white;
  font-size: 1.5rem;
}

